{# templates/bundles/EasyAdminBundle/default/layout.html.twig #}

{# DON'T DO THIS: it will cause an infinite loop #}
{# {% extends '@EasyAdmin/default/layout.html.twig' %} #}

{# DO THIS: the '!' symbol tells Symfony to extend from the original template #}
{% extends '@!EasyAdmin/default/layout.html.twig' %}

{% block s %}
<p>  fgfgfg  </p>

{% endblock s %}